<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Jelly</string>
			<key>Title</key>
			<string>Jelly</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/LicensePlist</string>
			<key>Title</key>
			<string>LicensePlist</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Navigation-stack</string>
			<key>Title</key>
			<string>Navigation-stack</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/ReactorKit</string>
			<key>Title</key>
			<string>ReactorKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Realm</string>
			<key>Title</key>
			<string>Realm</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RealmSwift</string>
			<key>Title</key>
			<string>RealmSwift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/ReusableKit</string>
			<key>Title</key>
			<string>ReusableKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RxAtomic</string>
			<key>Title</key>
			<string>RxAtomic</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RxCocoa</string>
			<key>Title</key>
			<string>RxCocoa</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RxOptional</string>
			<key>Title</key>
			<string>RxOptional</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RxRealm</string>
			<key>Title</key>
			<string>RxRealm</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RxRealmDataSources</string>
			<key>Title</key>
			<string>RxRealmDataSources</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/RxSwift</string>
			<key>Title</key>
			<string>RxSwift</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SnapKit</string>
			<key>Title</key>
			<string>SnapKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/SwiftGen</string>
			<key>Title</key>
			<string>SwiftGen</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>com.mono0926.LicensePlist/Then</string>
			<key>Title</key>
			<string>Then</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
